# Gradle
.gradle/
build/

# Local configuration
local.properties

# Logs / OS files
*.log
.DS_Store

# Android Studio generated
captures/
.externalNativeBuild/
.cxx/
*.aab
*.apk
output-metadata.json
*.hprof

# IntelliJ / Android Studio
*.iml
.idea/
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Keystore files
*.jks
*.keystore

# Google Services
google-services.json

# Project folders
markdown/

# VS Code
.vscode/
